<div id="login">
  <div class="login_page_wrapper">
    <div class="container-580">
      <div class="row">
        <div class="login_box_container">
          <div class="login_box">
            <div class="login_header">
              <h1 class="text-center">
                Welcome!
              </h1>
            </div>

            <div class="login_body">
              <form>
                <input type="text" placeholder="Username" name="email" class="input_fields" ng-model="vm.user.username">
                <input type="password" placeholder="Password" name="password" class="input_fields" ng-model="vm.user.password">
                <button class="btn button_login" ng-click="vm.login()">log in</button>
              </form>
              <p class="signup-text">Don't have an Account Yet? <span class="signup-click" ui-sref="Signup">Sign Up Here.</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
