<div id="signup">
  <div class="login_page_wrapper">
    <div class="container-580">
      <div class="row">
        <div class="login_box_container">
          <div class="login_box">
            <div class="login_header">
              <h1 class="text-center">
                Create An Account
              </h1>
            </div>

            <div class="login_body">
              <form>
                <input type="text" placeholder="Username" name="email" class="input_fields" ng-model="user.username">
                <input type="text" placeholder="Email" name="email" class="input_fields" ng-model="user.email">
                <input type="text" placeholder="First Name" name="firstname" class="input_fields" ng-model="user.firstname">
                <input type="text" placeholder="Last Name" name="lastname" class="input_fields" ng-model="user.lastname">
                <input type="password" placeholder="Password" name="password" class="input_fields" ng-model="user.password">
                <input type="password" placeholder="Re-Enter Password" name="repassword" class="input_fields" ng-model="user.repassword">
                <button class="btn button_login" ng-click="login()">Go Explore!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
