<div layout="column" style="height:100vh;" ng-cloak id="product">

  <section layout="row" flex>

  <div>
    <!-- exact table from live demo -->
    <md-table-container>
      <table md-table md-row-select multiple md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
        <tr md-row>
          <th md-column md-order-by="nameToLower"><span>Name</span></th>
          <th md-column md-numeric md-order-by="calories.value"><span>Price ($)</span></th>
          <th md-column md-numeric>Company</th>
          <th md-column md-numeric>Type</th>
          <th md-column md-numeric>Status</th>
          <th md-column md-numeric>Supplier</th>
          <th md-column>Action</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="product in vm.products">
          <td md-cell>{{product.product_name}}</td>
          <td md-cell>{{product.price | filter: currency}}</td>
          <td md-cell>{{product.company}}</td>
          <td md-cell>{{product.status}}</td>
          <td md-cell>{{product.type}}</td>
          <td md-cell>
            <md-button class="md-raised md-primary" ng-click="vm.showAddRemove()" >Order</md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
    <md-button class="md-fab md-mini md-primary floating-btn" aria-label="Use Android" ng-click="vm.showAddProduct()">
    +
    </md-button>


  </section>

</div>
