<div layout="column" style="height:100vh;" ng-cloak>

  <section layout="row" flex>

    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      md-whiteframe="4">

      <md-toolbar class="md-theme-indigo" ui-sref="">
        <h1 class="md-toolbar-tools">Intkhab Supply Depot</h1>
      </md-toolbar>
      <md-content >
        <md-list flex>
          <md-list-item class="md-3-line" ui-sref="Dashboard">
            Dashboard
          </md-list-item>
          <md-list-item class="md-3-line" ui-sref="AllEmployees">
            All Employees
          </md-list-item>
          <md-list-item class="md-3-line" ui-sref="Supplier">
            Suppliers
          </md-list-item>
          <md-list-item class="md-3-line" ui-sref="Customer">
            Customers
          </md-list-item>
          <md-list-item class="md-3-line" ui-sref="Inventory">
            Inventory
          </md-list-item>
          <md-list-item class="md-3-line" ui-sref="Product">
            Product
          </md-list-item>
          <md-list-item class="md-3-line" ui-sref="Login">
            Logout
          </md-list-item>
        </md-list>
      </md-content>

    </md-sidenav>
    </md-content>
<div>

    <!-- exact table from live demo -->
    <md-table-container>
      <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
        <tr md-row>
          <th md-column md-order-by="nameToLower"><span>Name</span></th>
          <th md-column md-numeric md-order-by="calories.value"><span>Price ($)</span></th>
          <th md-column md-numeric>Company</th>
          <th md-column md-numeric>Type</th>
          <th md-column md-numeric>Supplier</th>
          <th md-column md-numeric>Stock</th>
          <th md-column md-numeric>Available</th>
          <th md-column md-numeric>Status</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="product in vm.products">
          <td md-cell>{{product.name}}</td>
          <td md-cell>{{product.price | filter: currency}}</td>
          <td md-cell>{{product.company}}</td>
          <td md-cell>{{product.type}}</td>
          <td md-cell>{{product.supplier}}</td>
          <td md-cell>{{product.stock}}</td>
          <td md-cell>{{product.available}}</td>
          <td md-cell>{{product.status}}</td>
        </tr>
        </tbody>
      </table>
    </md-table-container>

</div>

  </section>

</div>
